
<div id="root" data-controller="get-news" data-get-news-channel-id-value="<%= session.id %>">
<%= render 'navbar' %>
<div class="main-flow" data-controller="update"  data-update-channel-id-value="<%= session.id %>">
    <header >
    <h1 data-search-target="results">
        <%=link_to root_path do%>
        <span class="green">WAASUP</span>-TODAY
    <%end%>
    </h1>
    <ul>
    <% @categories.each do |category| %>
    <li>
        <a href="#<%=category.name%>"><%= category.name %></a>
    </li>
    <% end %>
    <li>
        <%=form_with url: search_path, id: "search-form"  do |form|%>
        <%= form.text_field "query", class: "search-text", placeholder: "Search here" %>
        <%= form.select "country", @countries.map{|country| country.name}.unshift(nil) %>
           <%= form.button :submit,  class: "search" do %>
                <i class="fa-solid fa-2x fa-magnifying-glass green"></i>
        <%end%>
        <%end%>
    </li>

</ul>
    </header>


<div id="search-results">
    <h2>Search results</h2>
    <div class="articles">

    </div>
    <a data-action="get-news#reseatSearch"> <i class="fa-solid fa-rotate-right fa-2x"></i><p>reset</p></a>
</div>


<section id="countries">
    <h2>find your country down</h2>
    <div class="container">
<% @countries.each do |country|%>
<%= link_to country.name, root_path(country: country.name),data: {turbo: false}, class: "country"%>

<%end%>
    </div>
</section>

<section id="general" class="article-container">
        <h2 class="category">General - Articles</h2>
        <div class="articles">

        </div>
    </section>
<% @categories.each do |category|%>
<%# TODO: update loader till the data is ready %>
    <section id=<%=category.name%> class="article-container">
        <h2 class="category"><%=category.name%> - Articles</h2>
        <%= form_with url: next_page_path do |form|%>
                <%= form.hidden_field :page, value: 0 %>
                <%= form.button :submit, class: "page" do%>
                        <i class="fa-solid fa-forward  fa-2x"></i><p>Next</p>
                <% end %>

        <%end%>


    </section>
    <% end %>
</div>
</div>
