
<div id="root" data-controller="get-news">
<%= render 'navbar' %>
<div class="main-flow">
    <header>
    <h1>
        <%=link_to root_path do%>
        <span class="green">WAASUP</span>-TODAY
    <%end%>
    </h1>
    <ul>
    <% @categories.each do |category| %>
    <li>
        <%= link_to category.name, root_path %>
    </li>
    <% end %>
    <li>
        <%=form_with url: "root_path", id: "search-form", method: "post" do |form|%>
        <%= form.text_field "serach", class: "search-text", placeholder: "Search here" %>
           <%= form.button :submit,  class: "search" do %>
                <i class="fa-solid fa-2x fa-magnifying-glass green"></i>
        <%end%>
        <%end%>
    </li>
</ul>
    </header>
</div>
</div>
