<footer>
 <div class="main-container">
   <div class="about">
    <h4>Who we are</h4>

    <ul>
      <li>
        <p>A group of young people who are passionate about technology and the internet.</p>
      </li>
      <li>
        <p>We are a team of developers, designers, and writers who are dedicated to providing you with the best news and information on the internet.</p>
      </li>
      <li>
        <p>
          we are always looking for new ways to improve our site and make it more useful to our readers.
        </p>
      </li>
      <li>
        <p>
          Always ready to help you with any questions you may have.
        </p>
      </li>
      <li>
        <p>
          We can help you build your own website or app.
        </p>
      </li>
    </ul>
  </div>
  <div class="why-this-website">
<h4>Why this website?</h4>
<ul>
  <li>
    <p>
      It's a World full of information, It's easier to get lost looking for the right information. You never know what you are going to find on the internet. You google for a single word and you have thousands of results. You have to go through all of them to find the right one. We have done the hard work for you. We have collected the best news and information from all over the internet and put them in one place. We have also made it easy for you to find what you are looking for. You can search for news by category, country, or keyword. You can also subscribe to our newsletter and get the latest news delivered to your inbox.
    </p>
  </li>
<li>
    <p>
    Looking for relevant information is not the only problem. You also have to deal with the quality of the information. You can't trust everything you read on the internet. We have done our best to make sure that the information we provide is accurate and reliable. We have also made it easy for you to verify the information. You can always check the source of the information by clicking on the link provided.
  </p>
</li>
</ul>
  </div >
 </div>
 <div class="footer nav container">
  <ul class="footer-nav">

    <li class="footer-nav__item">
       <h3>Browse by category</h3>
      <ul class="footer-sub-nav">
    <% @categories.each do |category| %>
    <li>
        <a href="#<%=category.name%>"><%= category.name %></a>
    </li>
    <% end %>
      </ul>
    </li>
    <li class="footer-nav__item">
      <h3>Search...</h3>
      <ul class="footer-sub-nav">
    <li>
            <%=form_with url: search_path  do |form|%>
        <%= form.text_field "query", placeholder: "Search text..." %>
<div>        <%= form.label :country,  "country" %>
        <%= form.select "country", @countries.map{|country| country.name}.unshift(nil) %></div>
        <%= form.submit "Search", href: "#general" %>
        <%end%>
    </li>
      </ul>
  <p>Design and develop by : <em>Tadesse Alemayehu Dubale</em></p></ul></div>
</footer>
